

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: white;
}

li {
    float: left;
    border-right:1px solid #333;
}

li:last-child {
    border-right: none;
}

li a {
    display: block;
    color: black;
    text-align: right;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: gray;
}



/* bloque de codigo fuente  */

body {
  font-family: "Raleway", sans-serif;
}

/* contenedor de propiedades para la ventana principal */
.container {
  width: 80%;
  margin: 0 auto;
  overflow: hidden;
  padding: 100px 0;
  /* max-width: 1200px; */
}

body {
  background-color: #bbbbbb;
}

.hero .container {
  padding: 0;
}

/* Fondo del menu de navegación */
.naveg {
  background: white;
}

.nav__items--cta {
  border: 1px solid#fff(202, 16, 16);
}

.nav__items__footer {
  padding: 10px;
}

.hero__container {
  display: flex;
  height: calc(100vh - 70px);
  align-items: center;
  color: #fff(161, 12, 12);
}

.hero__texts {
  width: 80%;
  margin-bottom: 60px;
}
/* Tamaño letra huella de carbono */
.hero__title {
  font-size: 2rem;
}

/* Color boton Menu */
#btnMenu {
  background-color: white;
  width: 15em;
  height: 5em;
}
/* Efecto Menu de Navegación */
a:hover {
  background-color: gray(255, 0, 64);
  color: black;
}
/* efecto boton Menu */
#btnMenu:hover {
  background-image: linear-gradient(to right, black);
  animation: slidebg 2s linear infinite;
}
/* Animacion boton menu arcoiris */
@keyframes slidebg {
  to {
    background-position: 20vw;
  }
}

